<div class="container">
  <app-header></app-header>
  <div class="row">

    <div class="col-3 text-center">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a  routerLink="home"><h3>Home</h3></a>
            </li>
            <li class="nav-item">
              <ul class="nav flex-column">
               <li class="nav-item"> <a  [routerLink]="['/home', 'external']">External</a> </li>
               <li class="nav-item"> <a  [routerLink]="['/home', 'internal']">Internal</a> </li>
               <li class="nav-item"> <a  [routerLink]="['/home', 'other']">Other</a> </li>
            </ul>
            </li>
            <li class="nav-item">
              <a routerLink="about"><h3>About</h3></a>
            </li>
            <li class="nav-item">
              <a routerLink="contact"><h3>Contact Us</h3></a>
            </li>
          </ul>
        </div>


    <div class="col-9">

      <router-outlet></router-outlet>

    </div>

  </div>



  <app-footer></app-footer>

</div>