<div class="content">
    <app-header></app-header>

        <div class="row text-center">
            <div class="col-sm-3" style="height: 100vh;">
                <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#" routerLink="home">Home</a>
                    </li>
                    <li class="nav-item dropdown" >
                        <a  class="nav-link dropdown-toggle" href="#" (click)="showMenu()" >Categories</a>
                        <div  *ngIf='showItem'>
                          <a class="nav-link" href="#" routerLink="external">External</a>
                          <a class="nav-link" href="#" routerLink="internal">Internal</a>
                          <a class="nav-link" href="#" routerLink="other">Other</a>      
                          </div>                   
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="about">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" routerLink="contact">Contact Us</a>
                    </li>
                  </ul>
            </div>


            <div class="col-sm-9 mainPage">

              <router-outlet></router-outlet>
              
            </div>

          </div>

    

    <app-footer></app-footer>
</div>
