<p>{{selectedProduct | json}}</p>

        <div class="card-columns">
            <div class="card cardStyle" *ngFor="let item of selectedProduct" >
                <div class="card-body">
                    <h2 class="card-title">{{item.name}}</h2>
                    <p class="card-text">{{item.description}}</p>
                </div>
                <img *ngFor="let image of item.img" src="assets/images/{{image}}" class="card-img-bottom cardImg" alt="...">
                <p>this is footer</p>
            </div>
        </div>
