<p>{{selectedProduct | json}}</p>

        <div class="card-columns">
            <div class="card cardStyle" *ngFor="let item of selectedProduct" >
                <div class="card-body">
                    <h2 class="card-title">{{item.name}}</h2>
                    <p class="card-text">{{item.description}}</p>
                </div>
                <img class="w-100"  src="assets/images/{{images[0]}}" class="card-img-bottom cardImg" alt="...">
                <div class="w-50" *ngFor="let item of images let i = index">
                <img  *ngIf="i>0" src="assets/images/{{item}}" class="card-img-bottom cardImg" alt="...">
            </div>
            <p>this is footer</p>
            </div>
        </div>
        
 
        