<p>home works!</p>

<p>{{data | json}}</p>

<div class="row">
    <div class="col-md-12">
        <div class="card-columns">
            <div class="card cardStyle" *ngFor="let item of data" [routerLink]="[ '/product', item.id ]">
                <div class="card-body">
                    <h2 class="card-title">{{item.name}}</h2>
                    <p class="card-text">{{item.description}}</p>
                </div>
                <img src="assets/images/{{item.img[0]}}" class="card-img-bottom cardImg" alt="...">
                <p>this is footer</p>
            </div>
        </div>
    </div>
</div>